


/* The main content */
.main-content {
  max-width: 600px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 250px;
}

.module-addedprofile {
	border: 1px solid #ececec;
	background-color: #FFF5FD;
	padding: 10px 20px;
	margin: 0px 0px 20px 0px;
}

.module-added {
	width: 1220px;
	border: 1px solid #ececec;
	background-color: #FFFEF5;
	padding: 10px 20px;
	margin-bottom: 50px;
}

.module-title{
	text-decoration: underline;
}